@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body{
  font-family: Roboto Condensed, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
button{
  display: block;
  margin: 10px;
}
.titre{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav div a{
  font-family: Bebas Neue;
  font-size: 25px;
}
.alert-text{
  font-family: Lato;
}
p{
 font-family: Roboto Condensed;
 font-weight: 300;
}